*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.content-main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content-main::-webkit-scrollbar {
  display: none;
}

.content-child {
  height: 100vh;
  scroll-snap-align: start;
}

.album-title {
  padding: 10px;
  padding-left: 30px;
  font-size: 25px;
}
.slide-container {
  width: 100vw;
  height: 72vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.gradient-text{
  color:#fc4674;
  /* background: linear-gradient(90deg, #fc466b, #3f5efb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; */
}